@font-face {
  font-family: Roboto;
  src: url('./Roboto-Regular.woff') format('woff'),
  url('./Roboto-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('./Roboto-Regular.woff') format('woff'),
  url('./Roboto-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
}