*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
button {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}