.page {
  min-width: 320px;
  min-height: 100vh;
  color: var(--fc-text);
  font-family: Roboto, sans-serif;
  font-weight: var(--fw-text);
}

svg {
  display: block;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__logo-container {
  margin-left: 15px;
  padding: 11px 0;
}

.header__logo {
  width: 140px;
  height: 23px;
}

.header__btns-actions-top {
  display: none;
  margin-right: 15px;
}

.header__btns-actions-bottom {
  display: inline;
}


.header__btns-actions {
  display: flex;
  gap: 30px;
}

.header__button {
  border: none;
  background-color: transparent;
  transition: background-color .3s;
  cursor: pointer;
}

.header__button svg path {
  transition: stroke .3s;
}

.header__button:focus {
  outline: none;
}

.header__button:focus-visible {
  background-color: var(--bgc-focus-btn);
}

.header__button:focus-visible svg path {
  stroke: var(--fc-button-text);
}

.header__button:hover svg path {
  stroke: var(--fc-button-text);
}

.header__button:active svg path {
  stroke: var(--c-active-btn);
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--bc-menu);
  padding: 15px;
}

.header__nav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__menu-icon {
  width: 30px;
  height: 30px;
}

.header__nav {
  display: none;
  width: 100%;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__item-link {
  color: var(--fc-accent-text);
  font-size: 20px;
  transition: color .3s, background-color .3s;
}

.nav__item-link:focus {
  outline: none;
}

.nav__item-link:focus-visible {
  background-color: var(--bgc-focus-btn);
}

.nav__item-link:hover {
  color: var(--fc-button-text);
}

.nav__item-link:active {
  color: var(--fc-active-text);
}

.content__greeting {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid var(--bc-menu);
  padding: 49px 15px;
}

.greeting__title {
  margin-bottom: 15px;
  color: var(--fc-accent-text);
  font-weight: var(--fw-text);
  font-size: 30px;
}

.greeting__description {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.greeting__button-link {
  display: inline-block;
  border: 1px solid var(--bc-button);
  padding: 14.5px 38px;
  color: var(--fc-button-text);
  font-size: 18px;
  transition: color .3s, background-color .3s, border-color .3s;
}

.greeting__button-link:focus {
  outline: none;
}

.greeting__button-link:focus-visible {
  background-color: var(--bgc-focus-btn);
}

.greeting__button-link:hover {
  color: #fff;
  background-color: var(--bgc-hover-btn);
}

.greeting__button-link:active {
  border-color: var(--bgc-active-btn);
  color: #fff;
  background-color: var(--bgc-active-btn);
}

.greeting__img-container {
  display: none;
}

.content__materials {
  display: grid;
  grid-template-columns: 1fr;
  padding: 60px 15px;
  background-color: var(--bgc-accent);
}

.materials__top-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 60px;
}

.materials__result {
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 1px solid var(--bc-material);
  padding-top: 20px;
}

.result__img-container {
  max-width: 130px;
}

.result__title {
  color: var(--fc-title);
  font-weight: var(--fw-accent-title);
  font-size: 16px;
  line-height: 1.5;
}

.result__description {
  font-size: 16px;
  line-height: 1.5;
  text-wrap: balance;
}

.materials__bottom-content {
  display: grid;
  grid-template-columns: 1fr;
}

.materials__img-container {
  max-width: 290px;
  margin-bottom: 20px;
}

.materials__title {
  margin-bottom: 14px;
  color: var(--fc-title);
  font-weight: var(--fw-text);
  font-size: 24px;
}

.materials__pg-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.materials__description {
  font-size: 16px;
  line-height: 1.7;
}

.content__products {
  display: flex;
  justify-content: center;
  padding: 60px 15px;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  list-style: none;
}

.products__list-item {
  max-width: 290px;
}

.card__img-container {
  max-width: 100%;
  margin-bottom: 20px;
}

.card__img {
  object-fit: cover;
  object-position: center;
}

.card__title {
  margin-bottom: 4px;
  color: var(--fc-title);
  font-weight: var(--fw-text);
  font-size: 24px;
}

.card__subtitle {
  margin-bottom: 8px;
  color: var(--fc-subtitle);
  font-size: 14px;
}

.card__description {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.7;
}

.card__link {
  display: inline-block;
  color: var(--fc-button-text);
  font-size: 20px;
  transition: color .3s;
}

.card__link svg {
  display: inline-block;
  vertical-align: -1px;
}

.card__link svg path {
  transition: fill .3s;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  background-color: var(--bgc-focus-btn-text);
}

.card__link:hover {
  color: var(--fc-hover-text);
}

.card__link:hover svg path {
  fill: var(--fc-hover-text);
}

.card__link:active {
  color: var(--fc-active-text);
}

.card__link:active svg path {
  fill: var(--c-active-btn);
}

.content__partners {
  padding: 60px 0;
  background-color: var(--bgc-accent);
}

.partners__list {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  list-style: none;
}

.partners__item-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 80px;
  border: 1px solid var(--bc-partners);
}

.partners__list-item:nth-of-type(1) .partners__item-logo {
  width: 116px;
  height: 33px;
}

.partners__list-item:nth-of-type(2) .partners__item-logo {
  width: 110px;
  height: 32px;
}

.partners__list-item:nth-of-type(3) .partners__item-logo {
  width: 133px;
  height: 13px;
}

.partners__list-item:nth-of-type(4) .partners__item-logo {
  width: 123px;
  height: 16px;
}

.content__popular-product {
  padding: 60px 15px;
}

.popular-product__card {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.popular-product__card-img-container {
  max-width: 290px;
}

.popular-product__card-title {
  margin-bottom: 20px;
  color: var(--fc-title);
  font-weight: var(--fw-text);
  font-size: 24px;
}

.popular-product__card-desc-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.popular-product__card-description {
  font-size: 16px;
  line-height: 1.7;
}

.popular-product__btn-link {
  display: inline-block;
  border: 1px solid var(--bc-button);
  padding: 14.5px 38px;
  color: var(--fc-button-text);
  font-size: 18px;
  transition: color .3s, background-color .3s, border-color .3s;
}

.popular-product__btn-link:focus {
  outline: none;
}

.popular-product__btn-link:focus-visible {
  background-color: var(--bgc-focus-btn);
}

.popular-product__btn-link:hover {
  color: #fff;
  background-color: var(--bgc-hover-btn);
}

.popular-product__btn-link:active {
  border-color: var(--bgc-active-btn);
  color: #fff;
  background-color: var(--bgc-active-btn);
}

.footer {
  background-color: var(--bgc-footer);
}

.footer__top-content {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.footer__logo-container {
  justify-self: center;
  align-self: center;
  padding: 20px 0;
}

.footer__logo {
  width: 140px;
  height: 23px;
}

.footer__soc-med-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--bc-menu);
  padding: 20px 0;
}

.footer__soc-med-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.soc-med-item-link svg {
  transition: background-color .3s;
}

.soc-med-item-link svg path {
  transition: fill .3s;
}

.soc-med-item-link:focus {
  outline: none;
}

.soc-med-item-link:focus-visible svg {
  border-radius: 2px;
  background-color: var(--fc-button-text);
}

.soc-med-item-link:hover svg path {
  fill: var(--fill-hover-link);
}

.soc-med-item-link:active svg path {
  fill: var(--fill-active-link);
}

.footer-rights {
  display: flex;
  justify-content: center;
  padding: 3px 0;
  color: var(--fc-accent-text);
  background-color: var(--bgc-accent);
}

.rights-text {
  font-size: 13px;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .partners__list::-webkit-scrollbar {
    display: none;
  }

  .partners__list::before,
  .partners__list::after {
    content: '';
    display: block;
    width: 15px;
    background-color: transparent;
  }
}

@media (min-width: 576px) {
  .header {
    justify-content: space-between;
    align-items: center;
  }

  .header__logo-container {
    margin-left: 33px;
  }

  .header__nav-button {
    display: none;
  }

  .header__nav {
    display: block;
  }

  .header__btns-actions-top {
    display: inline;
    margin-right: 33px;
  }

  .header__btns-actions-bottom {
    display: none;
  }

  .header__nav-container {
    padding: 18px 33px;
  }

  .content__greeting {
    grid-template-columns: max-content min-content;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0 0;
  }

  .greeting__inf-container {
    max-width: 287px;
    padding-bottom: 20px;
  }

  .greeting__title {
    margin-bottom: 20px;
    font-size: 38px;
  }

  .greeting__description {
    font-size: 16px;
  }

  .greeting__button-link {
    padding: 18.5px 60px;
    font-size: 20px;
  }

  .greeting__img-container {
    display: block;
    width: 195px;
    height: 396px;
    overflow: hidden;
  }

  .greeting__img {
    width: 120%;
    height: 120%;
    object-fit: cover;
    object-position: left;
  }

  .content__materials {
    padding: 60px 33px;
  }

  .materials__top-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;
  }

  .materials__result {
    flex-direction: column;
  }

  .result__img-container {
    max-width: 100%;
  }

  .content__products {
    padding: 60px 33px;
  }

  .products__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
  }

  .products__list-item {
    max-width: 240px;
  }

  .card__description {
    margin-bottom: 20px;
  }

  .partners__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .partners__item-logo-container {
    min-width: 240px;
    min-height: 127px;
  }

  .partners__list-item:nth-of-type(1) .partners__item-logo {
    width: 186px;
    height: 52px;
  }

  .partners__list-item:nth-of-type(2) .partners__item-logo {
    width: 176px;
    height: 50px;
  }

  .partners__list-item:nth-of-type(3) .partners__item-logo {
    width: 212px;
    height: 20px;
  }

  .partners__list-item:nth-of-type(4) .partners__item-logo {
    width: 197px;
    height: 25px;
  }

  .content__popular-product {
    padding: 60px 33px;
  }

  .popular-product__card-img-container {
    max-width: 449px;
  }

  .popular-product__btn-link {
    padding: 18.5px 65px;
    font-size: 20px;
  }

  .footer__top-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 29px 33px;
  }

  .footer__logo-container {
    padding: 0;
  }

  .footer__soc-med-container {
    border-top: none;
    padding: 0;
  }
  
}

@media (min-width: 768px) {
  .header__logo-container {
    margin-left: 39px;
  }

  .header__btns-actions-top {
    margin-right: 39px;
  }

  .header__nav-container {
    padding: 20px 39px;
  }

  .content__greeting {
    padding: 60px 39px 0;
  }

  .greeting__inf-container {
    max-width: 390px;
    padding-bottom: 65px;
  }

  .greeting__title {
    margin-bottom: 30px;
    font-size: 50px;
  }

  .greeting__description {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .greeting__img-container {
    width: 270px;
    height: 410px;
  }

  .greeting__img {
    width: 159%;
    height: 159%;
  }

  .greeting__button-link {
    padding: 23.5px 89.5px;
  }

  .content__materials {
    padding: 60px 39px;
  }

  .result__title {
    font-size: 18px;
  }

  .result__description {
    font-size: 18px;
  }

  .materials__bottom-content {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
  }

  .materials__img-container {
    max-width: none;
  }

  .materials__title {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .materials__description {
    font-size: 18px;
  }

  .products__list-item {
    max-width: 330px;
  }

  .card__title {
    margin-bottom: 8px;
    font-size: 30px;
  }

  .card__description {
    font-size: 18px;
  }

  .content__partners {
    padding: 60px 39px;
  }

  .partners__item-logo-container {
    min-width: 150px;
    min-height: 80px;
  }

  .partners__list {
    justify-content: center;
  }

  .partners__list-item:nth-of-type(1) .partners__item-logo {
    width: 116px;
    height: 33px;
  }

  .partners__list-item:nth-of-type(2) .partners__item-logo {
    width: 110px;
    height: 32px;
  }

  .partners__list-item:nth-of-type(3) .partners__item-logo {
    width: 133px;
    height: 13px;
  }

  .partners__list-item:nth-of-type(4) .partners__item-logo {
    width: 123px;
    height: 16px;
  }

  .content__popular-product {
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }

  .popular-product__card {
    grid-template-columns: max-content 1fr;
    gap: 30px;
  }

  .popular-product__card-info-container {
    grid-column: 1;
    grid-row: 1;
    max-width: 330px;
    padding-left: 39px;
  }

  .popular-product__card-img-container {
    grid-column: 2;
    grid-row: 1;
  }

  .popular-product__card-title {
    font-size: 30px;
  }

  .popular-product__card-description {
    font-size: 18px;
  }

  .popular-product__btn-link {
    padding: 23.5px 94.5px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 29px 0;
  }

  .header__logo-container {
    margin-left: 165px;
    padding: 0;
  }

  .header__btns-actions-top {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav-container {
    gap: 60px;
    width: max-content;
    margin-right: 165px;
    border: none;
    padding: 0;
  }

  .nav__menu {
    gap: 60px;
  }

  .header__btns-actions-bottom {
    display: flex;
  }

  .content__greeting {
    gap: 125px;
    padding: 60px 0 0;
  }

  .greeting__inf-container {
    max-width: 445px;
  }

  .greeting__title {
    font-size: 55px;
  }

  .greeting__img-container {
    width: 540px;
    height: 560px;
  }

  .greeting__img {
    width: 230%;
    height: 230%;
  } 

  .content__materials {
    padding: 90px 165px;
  }

  .materials__top-content {
    margin-bottom: 90px;
  }

  .materials__result {
    flex-direction: row;
    gap: 30px;
  }

  .materials__bottom-content {
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }

  .materials__title {
    font-size: 40px;
  }

  .content__products {
    padding: 90px 165px;
  }

  .products__list {
    display: flex;
  }

  .products__list-item {
    max-width: 255px;
  }

  .content__partners {
    padding: 90px 165px;
  }

  .partners__item-logo-container {
    min-width: 255px;
    min-height: 135px;
  }

  .partners__list-item:nth-of-type(1) .partners__item-logo {
    width: 197px;
    height: 55px;
  }

  .partners__list-item:nth-of-type(2) .partners__item-logo {
    width: 186px;
    height: 53px;
  }

  .partners__list-item:nth-of-type(3) .partners__item-logo {
    width: 225px;
    height: 21px;
  }

  .partners__list-item:nth-of-type(4) .partners__item-logo {
    width: 209px;
    height: 26px;
  }

  .content__popular-product {
    padding: 90px 0 0;
  }

  .popular-product__card {
    grid-template-columns: 1fr 2fr;
  }

  .popular-product__card-info-container {
    max-width: 350px;
  }

  .popular-product__card-title {
    margin-bottom: 8px;
    font-size: 40px;
  }
}
